<div class="text-center bg-primary" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
  <h1 class="text-white mb-lg">Copy data between Firestores</h1>

  <div class="w-100" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="2rem">
    <div fxFlex="30%" fxLayout="column" fxLayoutGap="2rem">
      <app-initialise-firebase (projectSet)="getSource($event)" name="Source"></app-initialise-firebase>
      <app-initialise-firebase (projectSet)="getTarget($event)" name="Target"></app-initialise-firebase>
    </div>

    <div
      [class.opacity-50]="!sourceIsReady()"
      fxFlex="30%"
      fxLayout="column"
      fxLayoutAlign="end stretch"
      fxLayoutGap="2rem"
    >
      <app-document-selector (buttonClicked)="getData($event)" [disabled]="!sourceIsReady()"></app-document-selector>

      <div
        fxLayout="column"
        class="p-md mat-elevation-z8 bg-white h-100"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="1rem"
      >
        <h2>Set target</h2>

        <mat-form-field>
          <mat-label>Collection path</mat-label>
          <input matInput [(ngModel)]="targetPath" [required]="true" [readonly]="!collectionPath" />
        </mat-form-field>
      </div>

      <div class="mat-elevation-z8 bg-white p-md" fxLayout="column" fxLayoutGap="1rem">
        <mat-form-field *ngIf="showJson">
          <mat-label> Results</mat-label>

          <textarea [disabled]="!uploadIsReady()" [rows]="8" [value]="results | json" id="jsonData" matInput readonly>
          </textarea>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="keepIds" [disabled]="!uploadIsReady()" class="self-start">
          Keep same id(s)
        </mat-checkbox>

        <mat-checkbox [(ngModel)]="showJson" class="self-start"> Show JSON </mat-checkbox>

        <button (click)="uploadData()" [disabled]="!uploadIsReady()" color="primary" mat-flat-button>
          Copy data to target
        </button>
      </div>
    </div>
  </div>
</div>
