<div class="text-center bg-primary" fxFill fxLayout="row" fxLayoutAlign="center center">
  <div class="p-lg mat-elevation-z8 bg-white" fxFlex="600px" fxLayout="column" fxLayoutGap="0.5rem">
    <h1 class="mb-md">Upload your JSON data</h1>

    <mat-form-field floatLabel="never">
      <mat-label>
        apiKey:<br/>
        authDomain:<br/>
        databaseURL:<br/>
        projectId:<br/>
        storageBucket:<br/>
        messagingSenderId:<br/>
        appId:<br/>
      </mat-label>

      <textarea
        [(ngModel)]="configText"
        (ngModelChange)="handleConfig()"
        [rows]="8"
        id="firebase" matInput
        placeholder="apiKey: ...">
      </textarea>
    </mat-form-field>

    <button (click)="initFirebase()" class="mb-lg" color="primary" mat-flat-button>Initialise Firestore</button>

    <mat-form-field>
      <mat-label>JSON Data</mat-label>
      <ngx-mat-file-input (change)="handleData($event)" id="json"></ngx-mat-file-input>
      <mat-icon matSuffix>attach_file</mat-icon>
    </mat-form-field>

    <button (click)="upload()" color="primary" mat-flat-button>Upload</button>
    <p mat-card-subtitle>The database must allow writes by unauthenticated users.</p>
  </div>
</div>
