<div class="text-center bg-primary" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
  <h1 class="text-white mb-md">Copy data between Firestores</h1>

  <div class="w-100" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="2rem">
    <div fxFlex="30%" fxLayout="column" fxLayoutGap="2rem">
      <app-initialise-firebase (projectSet)="getSource($event)" name="Source"></app-initialise-firebase>
      <app-initialise-firebase (projectSet)="getTarget($event)" name="Target"></app-initialise-firebase>
    </div>

    <div
      [class.opacity-50]="!sourceIsReady()"
      fxFlex="30%"
      fxLayout="column"
      fxLayoutAlign="space-between stretch"
      fxLayoutGap="2rem"
    >
      <app-document-selector
        (buttonClicked)="getData($event)"
        [disabled]="!sourceIsReady()"
      ></app-document-selector>

      <div class="mat-elevation-z8 bg-white p-md" fxLayout="column" fxLayoutGap="1rem">
        <mat-form-field>
          <mat-label> Results</mat-label>

          <textarea [disabled]="!uploadIsReady()" [rows]="11" [value]="results | json" id="jsonData" matInput readonly>
          </textarea>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="keepIds" [disabled]="!uploadIsReady()" class="self-start">
          Keep same id(s)
        </mat-checkbox>

        <button (click)="uploadData()" [disabled]="!uploadIsReady()" color="primary" mat-flat-button>Copy data to target</button>
      </div>
    </div>
  </div>

  <p class="text-white">The target database must allow writes by unauthenticated users.</p>
</div>
