<div class="text-center bg-primary" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
  <h1 class="text-white mb-md">Copy data between configs</h1>

  <div fxLayout="row" fxLayoutGap="2rem" class="w-100" fxLayoutAlign="center stretch">
    <div fxLayout="column" fxLayoutGap="2rem" fxFlex="30%">
      <app-initialise-firebase name="Source"></app-initialise-firebase>
      <app-initialise-firebase name="Target"></app-initialise-firebase>
    </div>

    <div
      fxLayout="column"
      class="p-md mat-elevation-z8 bg-white"
      fxFlex="30%"
      fxLayoutAlign="space-between stretch"
      fxLayoutGap="1rem"
    >
      <h2>Data to upload</h2>

      <mat-form-field>
        <mat-label>Select file</mat-label>
        <ngx-mat-file-input accept=".json" (change)="handleData($event)" id="json"></ngx-mat-file-input>
        <mat-icon matSuffix>attach_file</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label> File data </mat-label>

        <textarea readonly [value]="jsonData | json" id="jsonData" matInput [rows]="15"> </textarea>
      </mat-form-field>

      <button (click)="upload()" color="primary" mat-flat-button>Upload</button>
    </div>
  </div>

  <p class="text-white">The target database must allow writes by unauthenticated users.</p>
</div>
