<div
  fxLayout="column"
  class="p-md mat-elevation-z8 bg-white h-100"
  fxLayoutAlign="space-between stretch"
  fxLayoutGap="1rem"
>
  <h2>{{ name | titlecase }} config</h2>

  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="1rem">
    <mat-form-field floatLabel="never">
      <mat-label>
        apiKey:<br />
        authDomain:<br />
        databaseURL:<br />
        projectId:<br />
        storageBucket:<br />
        messagingSenderId:<br />
        appId:<br />
      </mat-label>

      <textarea
        [(ngModel)]="configText"
        (ngModelChange)="handleConfig()"
        [rows]="8"
        id="source"
        matInput
        placeholder="apiKey: ..."
      >
      </textarea>
    </mat-form-field>

    <button (click)="initFirebase()" color="primary" mat-flat-button>Initialise {{ name | lowercase }}</button>
  </div>
</div>
