<div class="bg-primary" fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
  <h1 class="text-white mb-lg">Upload your JSON data</h1>

  <div fxLayout="row" fxLayoutGap="2rem" class="w-100" fxLayoutAlign="center stretch">
    <app-initialise-firebase fxFlex="30%" name="Firestore" class="h-100"></app-initialise-firebase>

    <div
      fxLayout="column"
      class="p-md mat-elevation-z8 bg-white"
      fxFlex="30%"
      fxLayoutAlign="space-between stretch"
      fxLayoutGap="1rem"
    >
      <h3>Data to upload</h3>

      <mat-form-field>
        <mat-label>Select file</mat-label>
        <ngx-mat-file-input accept=".json" (change)="handleData($event)" id="json"></ngx-mat-file-input>
        <mat-icon matSuffix>attach_file</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Parent path (optional)</mat-label>
        <input matInput [(ngModel)]="parentPath" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Document id (optional)</mat-label>
        <input matInput [(ngModel)]="documentId" />
      </mat-form-field>

      <mat-form-field>
        <mat-label> File data </mat-label>

        <textarea readonly [value]="jsonData | json" id="jsonData" matInput [rows]="15"> </textarea>
      </mat-form-field>

      <button (click)="upload()" color="primary" mat-flat-button>Upload</button>
    </div>
  </div>
</div>
